body {
    font-family: 'Roboto Mono', monospace;
    -font-family: 'Dosis', sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    padding-top: 10px;
    display: flex;
    display: -moz-flex;
    flex-flow: column wrap;
    justify-content: center;
    border-bottom: 3px solid #e99864;
    background-color: #20273f;
    margin-bottom: 20px;
}

.App-title {
    color: rgb(93, 196, 237);
}

.App-intro {
    font-size: large;
}

.message {
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    display: block;
}

section.solicitud>div.campos {
    display: flex;
    display: -ms-flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

section.solicitud>div.campos>div.form-group {
    align-items: flex-start;
    text-align: left;
    margin-right: 10px;
}

section.solicitud>div.campos>div.form-group button {
    align-self: center;
}

input {
    max-width: 100px;
}

button {
    cursor: pointer;
    margin: 5px;
}

/* para las lineas de cuotas */

.cuota {
    display: grid;
    grid-template-columns: 50px 40px 180px 140px 100px 120px;
    justify-content: space-around;
    margin-bottom: 5px;
    text-align: right;
}

.cuota:hover {
    background-color: rgb(240, 240, 240);
}


footer {
    height: 50px;
}

@media (max-width: 500px) {
    .App-header {
        background: none;
    }
    .App-logo, .porciento {
        display: none;
    }
    .message {
        color: rgb(0, 0, 0);
    }
    .cuota {
        grid-template-columns: 0px 40px 180px 140px 100px 120px;
        width: 25px;
    }
    section.solicitud>div.campos>div.form-group {
        text-align: center;
    }
}
